{% extends 'base.html' %}

{% block meta %}
<title>TODO List</title>
{% endblock meta %}

{% block content %}

<style>
  input, textarea {
   padding: 0.5rem;
   border: 1px solid;
   border-radius: 8px;
   width: 100%
  }
</style>

<div class="container mx-auto pt-4 flex flex-col gap-4">
  <div class="flex flex-row items-center justify-center md:justify-end gap-4">
    <p class="text-xl">
      Halo, {{ user.get_username }}
    </p>
    <a href="{% url 'todolist:logout_user' %}" class="btn btn-error ">Keluar</a>
    <label for="my-modal" class="btn btn-primary">Buat baru</a>
  </div>

  {% if messages %}
  <ul class="alert alert-info flex-col text-left text-info-content">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <div id="todosContainer" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
  </div>

  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <label for="my-modal" class="modal cursor-pointer">
    <label for="" class="modal-box relative">
      <form id="newForm" class="flex flex-col gap-4">
        {% csrf_token %}
        <div class="form-control w-full max-w-md">
            <label for="id_date">Tanggal:</label>
            <input type="text" name="date" required="" id="id_date">
        </div>
    
        <div class="form-control w-full max-w-md">
            <label for="id_title">Judul:</label>
            <input type="text" name="title" required="" id="id_title">
        </div>
    
        <div class="form-control w-full max-w-md">
            <label for="id_description">Deskripsi:</label>
            <textarea name="description" cols="" rows="10" required="" id="id_description"></textarea>
        </div>


        <div class="flex flex-col md:flex-row gap-2 w-full">
          <label for="my-modal" class="btn">Batal</label>
          <button class="btn btn-primary" id="newBtn">Buat</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  let container;
  function createCardHtml(todo, id) {
    const { title, date, description} = todo
    const isFinishedText = todo.is_finished ? "Finished" : "Not Finished"
    return `
      <div class="scale-100 hover:scale-105 transition card bg-neutral text-neutral-content">
        <div class="card-body items-center text-center">
          <h2 class="card-title">${title}</h2>
          <span>${date} | ${isFinishedText}</span>
          <p class="break-all">${description}</p>

          <div class="card-actions justify-end">
            <form action="/todolist/update/${id}" method="POST">
              {% csrf_token %}
              <button class="btn btn-primary">Toggle</button>
            </form>
            <form action="/todolist/delete/${id}" method="POST">
              {% csrf_token %}
              <button class="btn btn-error removebtn" data-id="${id}">Delete</button>
            </form>
          </div>
        </div>
      </div>
    `
  }

  function removeTodo(e) {
    const id = $(e.target).data("id")
    e.preventDefault()
    $.ajax({
      type: 'DELETE',
      url: '/todolist/delete/json/' + id,
      beforeSend: function(xhr) {
        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
      },
      success: () => {
        alert("Done!")
        fetchData()
      }
    })
  }

  function renderTodo(todos) {
    todos.map((todo) => {
      const newNode = $(createCardHtml(todo.fields, todo.pk))
      newNode.find(".removebtn").click(removeTodo)
      container.append(newNode)
    })
  }

  function fetchData() {
    container.empty()
    $.get("{% url 'todolist:show_todos_json' %}", renderTodo)
  }

  function createTodo(e) {
    e.preventDefault()
     $.ajax({
      type: 'POST',
      url: '/todolist/create/json',
      data: $("#newForm").serialize(), 
      success: () => {
        alert("Done!")
        $("#newForm").trigger("reset");
        $("#my-modal").click()
        fetchData()
      },
      dataType: 'json'
    });
  }

  $(document).ready(() => {
    $("#newBtn").click(createTodo)
    container = $("#todosContainer")
    fetchData()
  })


</script>
{% endblock content %}
