{% extends 'base.html' %}

{% block meta %}
<title>Daftar</title>
{% endblock meta %}

{% block content %}

<style>
  input {
   padding: 0.5rem;
   border: 1px solid;
   border-radius: 8px;
  }
  ul {
    padding-left: 0.5rem;
    list-style-type: disc;
  }
</style>

<div class="mx-auto container flex flex-col gap-4 pt-8">

  <h1 class="text-4xl font-bold text-center">Daftar Akun</h1>

  <div class="rounded-lg p-4 flex flex-col gap-4 mx-auto bg-base-100">
    <form method="POST">
      {% csrf_token %}
      <div class="flex flex-col gap-4">
        {% for field in form %}
            <div class="form-control w-full max-w-md">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                  <div class="alert alert-info text-info-content my-2">
                    <div class="flex flex-col">{{ field.help_text | safe }}</div>
                  </div>
                {% endif %}
            </div>
        {% endfor %}
        <button class="btn btn-primary">Daftar</button>
      </div>

    </form>

    {% if messages %}
    <ul class="alert alert-info flex-col text-left text-info-content">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>

{% endblock content %}
